---
layout: default
title: Welcome Atlanta Webbies!
home: true
---

<div class="welcome block">
  <h1>Atlanta Web Design Group</h1>
  <h4>The group for Atlanta area people who make Websites.</h4>
  <figure>
    <img src="http://awdg.s3.amazonaws.com/event-assets/webbies-800.jpg" class="img-responsive img-rounded">
    <figcaption>
      <p>Markup, style, typography, e-commerce, Web apps, code, and creativity are all valid topics here.</p>
      <p>We aim to provide a place for Web professionals from all over the Atlanta area to meet new people, exchange ideas, learn new things, and have a little fun.</p>
    </figcaption>
  </figure>
</div>

<div class="block">
  <hgroup class="section-header">
    <h2>Upcoming Events</h2>
    <h4>The where and when of Atlanta&rsquo;s web community</h4>
  </hgroup>
  {% for page in site.pages %}
  {% capture page_date %}{{ page.date | date: '%s' | plus: 0 }}{% endcapture %}
  {% capture now %}{{ site.time | date: '%s' | plus: 0 }}{% endcapture %}
  {% if page.pid == 'event' and page_date >= now %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ site.event-photo-url }}{{ page.photo }}" class="img-responsive img-rounded">
    </div>
    <div class="col-md-9">
      <h3><a href="{{ page.url }}"><strong>{{ page.title }}</strong></a></h3>
      <p>{{ page.date  | date: "%B %d, %Y - %-I:%M %p" }}</p>
      <p>{{ page.excerpt }}</p>
    </div>
  </div>
  <hr>
  {% endif %}
  {% endfor %}
</div>