---
layout: default
title: Welcome Atlanta Webbies!
home: true
---

<div class="block">
  <h1>Atlanta Web Design Group</h1>
  <p>The group for Atlanta area people who make Websites. Markup, style, code, typography, SEO, e-commerce, Web apps, and social networking are all valid topics here. We aim to provide a place for Web professionals to meet new people, exchange ideas, learn new things, and have a little fun.</p>
</div>

<div class="block">
  <h2>Latest News</h2>
  <div class="event-list">
    {% for post in site.posts %}
    {% include post-summary.html %}
    {% endfor %}
  </div>
</div>