// styles.scss

@import '../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss','responsive','pygments';

$footerheight: 100px;
$container-border: 1px solid darken($brand-primary, .5);

html,body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footerheight);
  padding: 0 0 $footerheight;
}

nav {
  #brand img {
    margin:1em 3em 1em 0;
    width:72px;
  }
}
#page {
  @extend .container;
  padding-top:$navbar-height + 40px;
  padding-bottom:5em;
  #content {
    @include make-sm-column(9);
  }
  #side {
    @include make-sm-column(3);
  }
}

.offsite-buttons {
  border-top: $container-border;
  clear: both;
  margin-top:3em;
  padding-top:1em;
  a {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    margin-bottom:10px;
  }
}


////////////////////////////
// Event Lists

.event-list {
  .event {
    .event-info {
      border-bottom: 1px solid #ddd;
      margin-top:1em;
      margin-left: -15px;
      margin-bottom:1em;
      padding-bottom: 1.5em;
      @include make-sm-column(12);
    }
  }
}

////////////////////////////
// Event Page

article.event-page {

  /* @include square(x,y)  */

  .event-hero {
    @include make-row();
  }
  .event-meta {
    @include make-sm-column(2);
    .event-datetime {
      width: 130px;
      background: #fcfcfc;
      border: 1px solid #d2d2d2;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
      margin-bottom: 3em;
      .event-time {
        color: #9e9e9e;
        font-size: .9em;
        margin: 0;
        text-align: center;
      }
      .event-date {
        color: #9e9e9e;
        font-size: 60px;
        margin: 0;
        text-align: center;
        span {
          background: $brand-primary;
          border-radius: 0 0 10px 10px;
          border-top: 3px solid darken($brand-primary, 20%);
          color: #fff;
          display: block;
          font-size: 25px;
          font-weight: bold;
          margin: 0;
          padding: 6px 0;
          text-transform: uppercase;
        }
      }
    }
  }
  .event-hero-image {
    @include make-sm-column(10);
    img {
      @extend .img-responsive;
      @extend .img-rounded;
    }
  }
}



////////////////////////////
// Forms

form.primary {
  @extend .col-md-10;
}

.info-section {
  label.text, div.text {
    @extend .control-label;
    @extend .col-sm-3;
  }
  .full {
    @extend .col-sm-9;
  }
  .name div:first-of-type {
    @extend .col-sm-4;
  }
  .name div:last-of-type {
    @extend .col-sm-5;
  }
  input[type=text],input[type=email],input[type=url],input[type=file], textarea {
    @extend .form-control;
  }
}
.radio-group, .form-actions {
  @include make-sm-column(9);
  @include make-sm-column-offset(3);
}
.form-actions {
  margin-top:2em;
}


///////////////////////////////////////////////////////////////////////
// FOOTER

footer {
  background-color: $brand-primary;
  border-top: $container-border;
  color: #eee;
  font-size: 13px;
  height: $footerheight;
  margin: 0;
  padding: 1em 0;
  text-align: center;
  a {
    color:#fff;
    font-size: 1.25em;
    &:hover {
      color:#fff;
    }
  }
  .sub-navigation, .copyright {
    @include make-row();
  }
  .notice {
    @include make-md-column(12);
    padding: 1.5em 0 0;
  }
}
