// styles.scss

@import '../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss','responsive','pygments';

$footerheight: 100px;
$container-border: 1px solid darken($brand-primary, .5);

html,body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footerheight);
  padding: 0 0 $footerheight;
}

nav {
  #brand img {
    margin:1em 3em 1em 0;
    width:72px;
  }
}
#page {
  @extend .container;
  padding-top:$navbar-height + 40px;
  padding-bottom:5em;
  #content {
    @include make-sm-column(8);
  }
  #side {
    @include make-sm-column(3);
    @extend .col-sm-offset-1;
  }
}

.offsite-buttons {
  border-top: $container-border;
  clear: both;
  margin-top:3em;
  padding-top:1em;
  a {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    margin-bottom:10px;
  }
}

.block {
  clear:both;
}

.sidebar-sponsor-list {
  margin:2em 0;
  .sidebar-sponsor {
    @extend .media;
    img {
      max-width: 90px;
    }
  }
}


////////////////////////////
// Post Lists

.post-list {
  @include make-sm-column(10);
  .post {
    @include make-row();
    border-bottom: 1px solid #ddd;
    margin-top:1em;
    margin-left: -15px;
    margin-bottom:1em;
    padding-bottom: 1.5em;
  }
}

////////////////////////////
// Post Page

article.post-page {

  font-size: 1.2em;

  .post-header {
    border-bottom:1px solid $brand-primary;
    margin-bottom: 2em;

  }

  .post {
    border-bottom: 2px solid #eee;
    margin-bottom: 3em;
  }

  .post-pubdate {
    color:$gray;
  }

  figure {
    margin-bottom: 2em;
    img {
      margin-bottom: .5em;
      max-width: 100%;
    }
    figcaption {
      font-size: .9em;
      font-style: italic;
    }
  }

}



////////////////////////////
// Forms

form.primary {
  @extend .col-md-10;
}

.info-section {
  label.text, div.text {
    @extend .control-label;
    @extend .col-sm-3;
  }
  .full {
    @extend .col-sm-9;
  }
  .name div:first-of-type {
    @extend .col-sm-4;
  }
  .name div:last-of-type {
    @extend .col-sm-5;
  }
  input[type=text],input[type=email],input[type=url],input[type=file], textarea {
    @extend .form-control;
  }
}
.radio-group, .form-actions {
  @include make-sm-column(9);
  @include make-sm-column-offset(3);
}
.form-actions {
  margin-top:2em;
}


///////////////////////////////////////////////////////////////////////
// FOOTER

footer {
  background-color: $brand-primary;
  border-top: $container-border;
  color: #eee;
  font-size: 13px;
  height: $footerheight;
  margin: 0;
  padding: 1em 0;
  text-align: center;
  a {
    color:#fff;
    font-size: 1.25em;
    &:hover {
      color:#fff;
    }
  }
  .sub-navigation, .copyright {
    @include make-row();
  }
  .notice {
    @include make-md-column(12);
    padding: 1.5em 0 0;
  }
}
