---
layout: default
---

<article class="event-page">
  <hgroup class="event-header">
    <h1 class="event-title">{{ page.title }}</h1>
    <h3 class="event-tagline">Because you deserve it.</h3>
  </hgroup>

  <div class="event-hero">
    <div class="event-meta">
      <div class="event-datetime">
        {% if page.time %}<p class="event-time">{{ page.time }}</p>{% endif %}
        <p class="event-date">{{ page.date | date: "%-d" }} <span>{{ page.date | date: "%b" }}</span></p>
      </div>
      <div class="location">
        {% if page.location-name %}<span class="location-name">{{ page.location-name }}{% endif %}
        {% if page.location-address %}<span class="location-address">{{ page.location-address }}{% endif %}
      </div>
    </div>

    <div class="event-hero-image">
      <img src="/img/event-assets/{{ page.feature-image }}" alt="{{ page.title }}">
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>

  <hr>

  {% if page.meetup-url %}<a href="{{ page.meetup-url }}" class="btn btn-default">RSVP on Meetup</a>{% endif %}
  {% if page.eventbrite-url %}<a href="{{ page.eventbrite-url }}" class="btn btn-default">RSVP on Eventbrite</a>{% endif %}

</article>
