---
layout: default
---

<article class="post-page">
  <hgroup class="post-header">
    <span class="post-pubdate">{{ page.date | date: "%B %d, %Y"}}</span>
    <h1 class="post-title">{{ page.title }}</h1>
  </hgroup>

  <div class="post">
    {{ content }}
  </div>

  <div class="post-social">
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_email_large' displayText='Email'></span>
  </div>
</article>